@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --snow: #fbfbfb;
  --white-smoke: #f4f4f4;
  --light-gray: #ccc;
  --flamingo: #eb5353;
  --cerulean: #187498;
  --sea-green: #36ae7c;
  --eclipse: #404040;

  --border-radius: 16px;
  --border-radius-sm: 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--snow);
}

input,
button,
textarea,
select {
  font: inherit;
}
